body {
    padding-top: 70px;
}

body,
body * {
    color: black !important;
    /* Ensure all text is black */
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures the container covers the full viewport height */
}
  
.about-section {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 2rem;
  }
  
  .about-section h1,
  .about-section h2 {
    color: #007bff;
  }
  
  .about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .about-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-section li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }
  
  .about-section li strong {
    color: #007bff;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    line-height: 1.5;
}

.btn {
    margin-right: 5px;
}

.row {
    margin-top: 20px;
}
