{% extends "base.html" %}
{% block main %} {% endblock %}
{% block content %}
<div class="container">
    <div class="order-form">
        <h2>Create Order</h2>
        <form method="POST" action="{{ url_for('orders.create_order_view') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.item_name.label }}
                {{ form.item_name(class="form-control", placeholder="Enter item name", required=True) }}
                <ul class="list-group" id="item_list" style="position: absolute; z-index: 1000; width: 100%;"></ul>
            </div>
            <div class="form-group">
                {{ form.quantity.label }}
                {{ form.quantity(class="form-control", placeholder="Enter quantity", min="0", required=True) }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit Order</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('item_name').addEventListener('input', function () {
        let query = this.value;
        if (query.length >= 2) {
            fetch(`/orders/search_products?name=${query}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Data received:', data); // Debug statement
                    let itemList = document.getElementById('item_list');
                    itemList.innerHTML = '';
                    if (data.length > 0) {
                        data.forEach(item => {
                            let li = document.createElement('li');
                            li.classList.add('list-group-item');
                            li.textContent = item.item_name;
                            li.onclick = function () {
                                document.getElementById('item_name').value = this.textContent;
                                itemList.innerHTML = '';
                            };
                            itemList.appendChild(li);
                        });
                    } else {
                        let li = document.createElement('li');
                        li.classList.add('list-group-item');
                        li.textContent = 'No items found';
                        itemList.appendChild(li);
                    }
                })
                .catch(error => console.error('Error:', error)); // Debug statement for errors
        } else {
            document.getElementById('item_list').innerHTML = '';
        }
    });
</script>

{% endblock %}